@import url("https://fonts.googleapis.com/css?family=Audiowide");
body {
/*  background-image: url("http://tlh-resurgens.com/31.png"); */
  background-image: url("/src/Project-Images/31.png");
  background-repeat: space;
  background-position: center;
  height: 1600px;
  background-size: 100% 100%;
}
.App {
  text-align: center;
  font-family: Audiowide, monospace;
  color: #fff;
 /* background-image: url("http://tlh-resurgens.com/31.png"); */
  background-image: url("/src/Project-Images/31.png");
  background-repeat: space;
  background-position: center;
  height: 1600px;
  background-size: 100% 100%;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  font-family: "Audiowide", monospace;
  background-color: #fff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #fff;
}
a:link {
  color: #391caf;
}
a:visited {
  color: #391caf;
}
a:hover {
  color: #efc5fd;
  background-color: #391caf;
}
a:active {
  color: #391caf;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
