body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: #000000;
  background-image: linear-gradient(-38deg, #000 2%, #8632e6 3%, #000 5%, #000 31%, #391caf 37%, #000 44%, #000 84%, #391caf 86%, #000 89%);
  background-repeat:  no-repeat;
  background-size: cover;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
  monospace;
}
.bg {
  background-image: url("http://tlh-resurgens.com/31.png");
  height: 80vh;
  background-repeat: repeat;
  background-size: 30% 30%;
}
